body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:'Poppins',sans-serif;
background:linear-gradient(135deg,#ff416c,#ff4b2b);
}

.container{
background:white;
padding:35px;
border-radius:20px;
text-align:center;
width:400px;
box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

h1{
font-family:'Pacifico',cursive;
color:#ff2e63;
font-size:38px;
}

h2{
font-weight:700;
color:#333;
}

.age{
font-size:20px;
font-weight:bold;
color:#555;
}

.message{
margin-top:15px;
color:#666;
}

button{
margin-top:20px;
padding:12px 20px;
border:none;
border-radius:10px;
background:#ff2e63;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
background:#e91e63;
}

.hidden{
display:none;
margin-top:20px;
}

.photo{
width:100%;
border-radius:15px;
margin-top:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

.wish{
margin-top:15px;
font-weight:bold;
color:#ff2e63;
font-size:18px;
}
